<nz-tabset nzTabPosition="left" [(nzSelectedIndex)]="selectedIndex">
  <nz-tab nzTitle="Address">
    <div class="flex flex-row">
      <customer-address
        class="mr-2"
        *ngIf="customer?.billingAddress"
        [address]="customer?.billingAddress"
        [title]="'Billing Address'"
      ></customer-address>
      <customer-address
        *ngIf="customer?.shippingAddress"
        [address]="customer?.shippingAddress"
        [title]="'Shipping Address'"
      ></customer-address>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Shipping Method">
    <choose-shipping-method (selected)="onChooseShippingMethod($event)"></choose-shipping-method>
  </nz-tab>

  <nz-tab nzTitle="Payment Method">
    <choose-payment-method (selected)="onChoosePaymentMethod($event)"></choose-payment-method>
  </nz-tab>
</nz-tabset>
