<nz-tabset nzTabPosition="left" [(nzSelectedIndex)]="selectedIndex">
  <nz-tab nzTitle="Address">
    <div class="flex flex-row">
      <customer-address
        class="mr-2"
        *ngIf="customer?.billingAddress"
        [address]="customer?.billingAddress"
        title="Billing Address"
      ></customer-address>
      <nz-card class="mr-2" *ngIf="!customer?.billingAddress" nzTitle="Billing Address">
        <billing-address
          [allowSkip]="false"
          [customerData]="customer"
          buttonText="Update"
          (completeStep)="onUpdateAddress($event)"
        ></billing-address>
      </nz-card>
      <customer-address
        *ngIf="customer?.shippingAddress"
        [address]="customer?.shippingAddress"
        title="Shipping Address"
      ></customer-address>
      <nz-card *ngIf="!customer?.shippingAddress" nzTitle="Shipping Address">
        <shipping-address
          [allowSkip]="false"
          [customerData]="customer"
          buttonText="Update"
          (completeStep)="onUpdateAddress($event)"
        ></shipping-address>
      </nz-card>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Shipping Method">
    <choose-shipping-method (selected)="onChooseShippingMethod($event)"></choose-shipping-method>
  </nz-tab>

  <nz-tab nzTitle="Payment Method">
    <choose-payment-method (selected)="onChoosePaymentMethod($event)"></choose-payment-method>
  </nz-tab>
</nz-tabset>
