// .product-image {
//   height: 300px;
//   overflow: hidden;
//   img {
//     height: 100%;
//     width: auto;
//   }
// }

.bold {
  font-weight: bold;
}

.product-info {
  padding: 0 15px;

  nz-select {
    width: 60px;
  }
}
