<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px',
    'background-color': 'ghostwhite'
  }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="cartTotalQuantity"
  (nzOnClose)="close()"
>
  <nz-empty *ngIf="!cart?.products?.length" [nzNotFoundContent]="'No products in cart'"></nz-empty>
  <cart-item *ngFor="let cartProduct of cart?.products" [cartId]="cart?.id" [cartProduct]="cartProduct"></cart-item>
  <div *ngIf="cart?.products?.length" class="footer flex flex-row vertical-center end">
    <p>Total Price: {{ cart?.totalPrice }} TK</p>
  </div>
</nz-drawer>

<ng-template #cartTotalQuantity>
  <i nz-icon nzType="shopping-cart" nzTheme="outline" class="shopping-cart">
    <nz-badge [nzCount]="cart?.quantity"></nz-badge>
  </i>
</ng-template>
