.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

nz-header {
  position: fixed;
  width: 100%;
}

[nz-menu] {
  line-height: 64px;
}

.ant-layout-header {
  height: 39px;
  line-height: 39px;

  .logo {
    margin: 0;
    height: 39px;
  }
  ul.ant-menu.ant-menu-root {
    height: 39px;
    line-height: 39px;
  }
}

.account-menu {
  width: 200px;
}
