<div class="flex cell mb-3 product-item">
  <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[addToWishList, addToCart]">
    <nz-card-meta [nzTitle]="product?.title" [nzDescription]="product?.pricing?.price"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img
      [defaultImage]="defaultProductUrl"
      [lazyLoad]="product?.featureImageUrl"
      style="padding: 1px;"
      [alt]="product?.title"
    />
  </ng-template>
  <ng-template #addToWishList>
    <i nz-icon nzType="heart" (click)="addProductToWishList()"></i>
  </ng-template>
  <ng-template #addToCart>
    <i nz-icon nzType="shopping-cart" (click)="addProductToCart()"></i>
  </ng-template>
</div>
