<form nz-form [formGroup]="accountForm" (ngSubmit)="createAccount()">
  <nz-alert
    *ngIf="accountForm.get('phoneNo').hasError('invalidIdentity')"
    nzType="warning"
    nzMessage="Phone number already in use!"
    nzShowIcon
  ></nz-alert>
  <nz-form-item class="mb-1">
    <nz-form-label nzRequired nzFor="phoneNo">Phone Number</nz-form-label>
    <nz-form-control nzErrorTip="Phone number is required and it should be valid">
      <nz-input-group nzSize="large" [nzSuffix]="suffixIconSend">
        <input id="phoneNo" nz-input nzSize="large" formControlName="phoneNo" />
      </nz-input-group>
      <ng-template #suffixIconSend>
        <button
          type="button"
          *ngIf="!isVerificationCodeSent && accountForm.get('phoneNo').valid"
          [nzLoading]="asyncService.loading"
          class="send-btn"
          nz-button
          nz-popover
          nzPopoverTitle="Send verification code"
          nzPopoverContent="Get verification code on your mobile"
          nzType="primary"
          nzSize="large"
          (click)="requestVerificationCode()"
        >
          Send <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
        </button>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="isVerificationCodeSent" class="mb-1">
    <nz-form-label nzRequired nzFor="verificationCode">Verification Code</nz-form-label>
    <nz-form-control nzErrorTip="Verification code is required">
      <nz-input-group nzSize="large" [nzSuffix]="suffixIconVerify">
        <input id="verificationCode" nzSize="large" nz-input formControlName="verificationCode" />
      </nz-input-group>
      <ng-template #suffixIconVerify>
        <button
          type="button"
          *ngIf="!isVerified && accountForm.get('verificationCode').valid"
          [nzLoading]="asyncService.loading"
          class="send-btn"
          nz-button
          nz-popover
          nzPopoverTitle="Verify"
          nzPopoverContent="Get verified to activate your acccount"
          nzType="primary"
          nzSize="large"
          (click)="verifyPhoneNumber()"
        >
          Verify <i nz-icon nzType="safety-certificate" nzTheme="outline"></i>
        </button>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="mb-1">
    <nz-form-label nzFor="email">E-mail</nz-form-label>
    <nz-form-control nzErrorTip="The input is not valid E-mail!">
      <input nzSize="large" nz-input formControlName="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control>
      <button
        [disabled]="accountForm.invalid || accountForm.pristine || !isVerified || asyncService.loading"
        [nzLoading]="isVerificationCodeSent && isVerified && asyncService.loading"
        nzSize="large"
        nzBlock
        nz-button
        nzType="primary"
      >
        Next <i nz-icon nzType="double-right" nzTheme="outline"></i>
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
