product-item {
  flex: 0 0 20%;
  width: 20%;
  padding: 0 15px;
}

.product-container {
  margin: 0 -15px;
}

@media (max-width: 575px) {
  .product-container {
    flex-wrap: wrap;
    product-item {
      flex: 0 0 100%;
      width: 100%;
    }
  }
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}
