<form class="register-step-form" nz-form [formGroup]="billingAddressForm" (ngSubmit)="updateBillingAddress()">
  <div nz-row [nzGutter]="rowGutter">
    <div nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12">
      <nz-form-item class="mb-1">
        <nz-form-label nzNoColon nzRequired nzFor="firstName">First name</nz-form-label>
        <nz-form-control nzErrorTip="First name is required">
          <input id="firstName" nzSize="large" nz-input formControlName="firstName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mb-1">
        <nz-form-label nzNoColon nzRequired nzFor="lastName">Last name</nz-form-label>
        <nz-form-control nzErrorTip="Last name is required">
          <input id="lastName" nzSize="large" nz-input formControlName="lastName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mb-1">
        <nz-form-label nzNoColon nzRequired nzFor="phoneNo">Phone Number</nz-form-label>
        <nz-form-control nzErrorTip="Phone number is required">
          <input id="phoneNo" nzSize="large" nz-input formControlName="phoneNo" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mb-1">
        <nz-form-label nzNoColon nzFor="email">E-mail</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid E-mail!">
          <input id="email" nzSize="large" nz-input formControlName="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mb-1">
        <nz-form-label nzNoColon nzRequired vnzFor="country">Country</nz-form-label>
        <nz-form-control nzErrorTip="Country is required">
          <nz-select
            id="country"
            nzSize="large"
            formControlName="country"
            [(ngModel)]="selectedCountry"
            nzAllowClear
            [nzShowSearch]="true"
            nzPlaceHolder="Choose"
            value="Bangladesh"
            (ngModelChange)="onChangeCountry()"
          >
            <nz-option
              *ngFor="let country of countryList"
              [nzValue]="country?.name"
              [nzLabel]="country?.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12">
      <nz-form-item class="mb-1">
        <nz-form-label nzNoColon nzRequired nzFor="state">State</nz-form-label>
        <nz-form-control nzErrorTip="State is required">
          <nz-select
            id="state"
            nzSize="large"
            formControlName="state"
            [(ngModel)]="selectedState"
            nzAllowClear
            [nzShowSearch]="true"
            nzPlaceHolder="Choose"
          >
            <nz-option *ngFor="let state of stateList" [nzValue]="state?.name" [nzLabel]="state?.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mb-1">
        <nz-form-label nzNoColon nzRequired nzFor="address">Address</nz-form-label>
        <nz-form-control nzErrorTip="Address is required">
          <textarea nz-input id="address" formControlName="address"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mb-1">
        <nz-form-label nzNoColon nzRequired nzFor="city">City</nz-form-label>
        <nz-form-control nzErrorTip="City is required">
          <input id="city" nzSize="large" nz-input formControlName="city" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mb-1">
        <nz-form-label nzNoColon nzRequired nzFor="postalCode">Post code</nz-form-label>
        <nz-form-control nzErrorTip="Post code is required">
          <input id="postalCode" nzSize="large" nz-input formControlName="postalCode" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="rowGutter">
    <div nz-col [nzSpan]="12">
      <button
        [disabled]="
          !!customer?.billingAddress ||
          billingAddressForm.invalid ||
          billingAddressForm.pristine ||
          asyncService.loading
        "
        [nzLoading]="asyncService.loading"
        nzSize="large"
        nz-button
        nzBlock
        nzType="primary"
      >
        Next <i nz-icon nzType="double-right" nzTheme="outline"></i>
      </button>
    </div>
    <div nz-col [nzSpan]="12">
      <button nzBlock nzSize="large" nz-button nzType="default" (click)="skipThisStep()">Skip</button>
    </div>
  </div>
</form>
