@import '~src/app/@theme/breakpoint-mixins.scss';

nz-layout {
  @include xl {
    padding: 5rem 15rem;
  }
  @include lg {
    padding: 5rem 10rem;
  }
  @include md {
    padding: 5rem;
  }
  @include sm {
    padding: 0;
  }
  @include xs {
    padding: 0;
  }
  min-height: 100%;
}

nz-content {
  nz-card.register-container {
    @include xl {
      height: calc(100vh - 10rem);
    }
    @include lg {
      height: calc(100vh - 10rem);
    }
    @include md {
      height: calc(100vh - 10rem);
    }
    @include sm {
      height: 100% !important;
    }
    @include xs {
      height: 100% !important;
    }
    // @include breakpoint(small) {
    //   height: 100vh;
    // }
  }
}
