<nz-layout>
  <nz-content>
    <nz-card [nzBordered]="true" nzTitle="Register" class="register-container">
      <nz-steps nzType="navigation" [nzCurrent]="index" (nzIndexChange)="changeIndex($event)">
        <nz-step nzTitle="Create account" [nzDisabled]="disable" nzIcon="user-add"> </nz-step>
        <nz-step nzTitle="Billing Address" nzIcon="idcard"></nz-step>
        <nz-step nzTitle="Shipping Address" nzIcon="solution"></nz-step>
        <nz-step nzTitle="Complete" nzIcon="check-circle"></nz-step>
      </nz-steps>

      <nz-card>
        <create-account
          class="step"
          [customer]="customer"
          (completeStep)="onCreateAccount($event)"
          *ngIf="index === 0"
        ></create-account>
        <billing-address class="step" *ngIf="index === 1"></billing-address>
        <shipping-address class="step" *ngIf="index === 2"></shipping-address>
      </nz-card>
    </nz-card>
  </nz-content>
</nz-layout>
