<nz-layout>
  <nz-content>
    <nz-card [nzBordered]="true" nzTitle="Register" class="register-container">
      <nz-steps nzType="navigation" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
        <nz-step nzTitle="Create account" [nzDisabled]="disable" nzDescription="This is a description.">
        </nz-step>
        <nz-step nzTitle="Billing Address" nzDescription="This is a description."></nz-step>
        <nz-step nzTitle="Shipping Address" nzDescription="This is a description."></nz-step>
      </nz-steps>

      <nz-card>
        <create-account *ngIf="index === 0"></create-account>
      </nz-card>
    </nz-card>
  </nz-content>
</nz-layout>
