<nz-page-header nzBackIcon nzTitle="Go Back"></nz-page-header>
<nz-layout>
  <nz-content>
    <div class="flex flex-row vertical-center center login-page">
      <ng-template #cardTitle>
        <b>Login | eWebShop</b>
      </ng-template>
      <nz-card [nzTitle]="cardTitle">
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="phone" placeholder="Phone" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="mb-0">
            <nz-form-control>
              <label nz-checkbox formControlName="remember">
                <span>Remember me</span>
              </label>
              <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
              <button nzSize="large" nz-button class="login-form-button" nzType="primary">Log in</button>
              <a class="mb-0" nzBlock routerLink="/user/register" nzSize="large" nz-button>Don't have account? Register now</a>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>
    </div>
    </nz-content>
  </nz-layout>
