/* You can add global styles to this file, and also import other style files */
/*
 * Custom Flexbox Helper Classes
 */
.flex {
  display: flex;

  &.cell {
    flex: 1;
  }
  &.equal-sizing {
    > * {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  &.flex-column {
    flex-direction: column;
    &.top {
      align-content: flex-start;
    }
    &.bottom {
      align-content: flex-end;
    }
    &.vertical-center {
      align-content: center;
    }
    &.space-between {
      align-content: space-between;
    }
    &.space-around {
      align-content: space-around;
    }
  } // end column

  &.flex-row {
    flex-direction: row;
    &.wrap {
      flex-flow: row wrap;
    }
    &.top {
      align-items: flex-start;
    }
    &.bottom {
      align-items: flex-end;
    }
    &.vertical-center {
      align-items: center;
    }
    &.baseline {
      align-items: baseline;
    }
    &.stretch {
      align-items: stretch;
    }
  } // end row

  // along main axis
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
} // end flexbox helpers

.ma-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-1-5 {
  margin-left: 5px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 15px !important;
}

.mb-3 {
  margin-bottom: 20px !important;
}

.mb-4 {
  margin-bottom: 30px !important;
}

.mb-5 {
  margin-bottom: 35px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.ml-2 {
  margin-left: 15px !important;
}

.ml-3 {
  margin-left: 25px !important;
}

.ml-4 {
  margin-left: 35px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.pt-1 {
  padding-top: 10px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 15px;
}

.pl-3 {
  padding-left: 25px;
}

.pl-4 {
  padding-left: 35px;
}

.pr-0 {
  padding-right: 0 !important;
}

.pa-0 {
  padding: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 15px;
}

.pt-3 {
  padding-top: 25px;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 10px !important;
}
.mr-2 {
  margin-right: 15px !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.white-space-no-wrap {
  white-space: normal;
}

.inline-link {
  color: #009999;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.float-right {
  float: right;
}

.bold-style {
  font-weight: bold;
}

.head-example {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;

  i {
    font-size: 40px;
  }
}
